<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>knockout.jQueryMobile</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryMobile/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div data-enhance="false" data-role="page">

        <div data-role="panel" id="panel" data-position="right" data-theme="a" data-display="push">
            <ul data-role="listview">
                <li>
                    <a data-ajax="false" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li>
                    <a data-ajax="false" href="@Url.Action("Buttons", "Home")">Buttons</a>
                </li>
            </ul>
        </div>

        <div data-role="header">
            <a data-iconpos="notext" data-role="button" data-icon="home" title="Home">Home</a>
            <h1>A</h1>
            <a data-iconpos="notext" href="#panel" data-role="button" data-icon="flat-menu"></a>
        </div>

        <div data-role="content" role="main">
           @RenderBody()
        </div>
    </div>    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/underscore")
    <script type="text/javascript">
        $(document).bind("mobileinit", function () {
            $.mobile.ignoreContentEnabled = true;
        });
    </script>    
    @Scripts.Render("~/bundles/jqueryMobile")
   
    @Scripts.Render("~/bundles/knockout")

    @RenderSection("scripts", required: false)
</body>

</html>
